.box {
	position: relative;
	margin: 30px auto;
	height: 150px;
	width: 260px;
	border-top: 3px dotted black;
	border-right: 5px double aquamarine;
	border-left: 8px solid violet;
	border-bottom: 1px ridge khaki;
	border-radius: 15px;
}


div div p a{
	color: rgb(59, 128, 59);
	text-decoration: none;
}
div div a {
	color: rgb(38, 26, 151);
	text-decoration: none;
}
div p a {
	color: red;
	text-decoration: solid;
}

div a {
	color: rgb(160, 197, 73);
	text-decoration: line-through;
}

table {
	margin: 0px auto;
}
.box1 {
	position: relative;
	margin: 30px auto;
	height: 150px;
	width: 260px;
	border: 5px solid black;
}
div.box1:hover{
	background-color: rgb(221, 109, 243);
	border: dotted;
}
.box2 {
	position: relative;
	margin: 30px auto;
	height: 150px;
	width: 260px;
	border: 5px solid black;
}
div.box2:hover{
	background-color: brown;
	border-style: ridge;
	border-radius: 24px;}

.box3 {
	position: relative;
	margin: 30px auto;
	height: 150px;
	width: 260px;
	border: 5px solid black;
}
div.box3:active{
	background-color:teal;
	border-style: inset;
	border-radius: 56px;
	border-color: rgb(139, 30, 30);}
.box4 {
	position: relative;
	margin: 30px auto;
	height: 150px;
	width: 260px;
	border: 5px solid black;
	
}
div.box4:active{
	background-color:rgb(33, 54, 54);
	border-style: inset solid dotted;
	border-radius: 56px;
	border-color: rgb(169, 174, 175);
}
.after {
	background-color: khaki;
	position: relative;
	height: 90px;
	width: 50px;
	border: 1px solid black;
	transform: rotate(90deg);
	margin: 40px auto;
} 
.after:after {
   content: ".";
    position: relative;
    right: -90px;
	 top: 30px;
} 